POSTGRES_USER=procurement
POSTGRES_PASSWORD=procurement
POSTGRES_DB=procurement

MEILI_MASTER_KEY=masterKey_dev_change_me

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

COMPOSE_BAKE=false

# If frontend build dies with npm ECONNRESET, uncomment:
# NPM_REGISTRY=https://registry.npmmirror.com
